<div class="header page-heading grey-text text-darken-2 bolder center">Video Templates</div>
<div class="row post-container white z-depth-3">
  <% @templates.each do |template| %>
  <%= render 'template', template: template %>
  <% end %>
</div>
