<div class="row"><%= link_to "Sign Out", destroy_admin_session_path, method: "delete",class: "btn col s12" %> </div>
<div class="row post-container white z-depth-3">
  <% if @posts.count == 0 %>
    <div class="note white-text"> No Posts Available for this page.</div>
  <% end %>
  <%= paginate @posts, window: 2%>
  <% @posts.each do |post| %>
    <%= render 'post' , :post => post %>
  <%end%>
</div>