
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<tbody>
  <tr style="border-color:transparent">
    <td align="center" style="border-collapse:collapse;border-color:transparent">
      <table cellpadding="0" cellspacing="0" width="600px" id="m_6942690790101336136bodyTable" border="0" bgcolor="#ffffff" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5">
        <tbody>
          <tr style="border-color:transparent">
            <td border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
              <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5;width:100%" border="0" width="100%">
                <tbody>
                  <tr style="border-color:transparent">
                    <th width="600" style="border-color:transparent;font-weight:400;text-align:left;vertical-align:top" cellpadding="0" cellspacing="0" class="m_6942690790101336136tc" align="left" valign="top">
                      <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5;background-color:#eee" bgcolor="#eeeeee">
                        <tbody>
                          <tr style="border-color:transparent">
                            <td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                              <table class="m_6942690790101336136separator" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5;background-color:#eee;height:20px;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0" bgcolor="#eeeeee" height="20">
                                <tbody>
                                  <tr style="border-color:transparent">
                                    <td height="20" style="border-collapse:collapse;border-color:transparent"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </th>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr style="border-color:transparent">
            <td border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
              <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5;width:100%" border="0" width="100%">
                <tbody>
                  <tr style="border-color:transparent">
                    <th width="600" style="border-color:transparent;font-weight:400;text-align:left;vertical-align:top" cellpadding="0" cellspacing="0" class="m_6942690790101336136tc" align="left" valign="top">
                      <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5;background-color:#fff" bgcolor="#ffffff">
                        <tbody>
                          <tr style="border-color:transparent">
                            <td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                              <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5">
                                <tbody>
                                  <tr style="border-color:transparent">
                                    <td class="m_6942690790101336136expander" colspan="3" width="100%" height="0" style="border-collapse:collapse;border-color:transparent"></td>
                                  </tr>
                                  <tr class="m_6942690790101336136content-row" style="border-color:transparent">
                                    <td class="m_6942690790101336136content-cell" width="600" style="border-collapse:collapse;border-color:transparent;vertical-align:top" valign="top">
                                      <div style="color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5;display:block;height:158;width:100%" height="158" width="100%">
                                        <img border="0" width="600" height="auto" align="left" alt="" src="https://ci3.googleusercontent.com/proxy/_4Tr8v3EtMkqwOpqCIID6LVSHINhB9typiH1I8RYP_B8k7Z9jzBpYqQoIc5EVDb5zsUbJtx9VFksuun9Ril4GOaw1YdMOo253ieYMMsXuQ7PkIPxy0qd4wBm9h26qFPC4W2FFxaw4gtNtx0Nupe4sFd-M32rkQQL1E10GGLbRspix0ffyiRXsRuKRWMbuQ4lVMvjBsn-h6U3d2LNYzpEY7Kf9-cX3V0ctGHT889NBFVBSnoQMzkBY2I=s0-d-e1-ft#http://img.stat-pulse.com/28edd3380a1c17cf65b137fe96516659/files/emailservice/userfiles/765aaff6d81edd14a90b6806a01130496668093/Screenshot-2017-11-05-21.05.36.png" style="text-decoration:none;border:0;height:auto;line-height:100%;outline:0;display:block" class="CToWUd a6T" tabindex="0">
                                        <div class="a6S" dir="ltr" style="opacity: 0.01; left: 764.5px; top: 158px;">
                                          <div id=":lb" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download">
                                            <div class="aSK J-J5-Ji aYr"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr style="border-color:transparent">
                                    <td class="m_6942690790101336136expander" colspan="3" width="100%" height="0" style="border-collapse:collapse;border-color:transparent"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5;background-color:#fff" bgcolor="#ffffff">
                        <tbody>
                          <tr style="border-color:transparent">
                            <td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                              <table width="100%" cellpadding="0" cellspacing="0" id="m_6942690790101336136w" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5;font-weight:normal;margin:0">
                                <tbody>
                                  <tr style="border-color:transparent">
                                    <td class="m_6942690790101336136expander" colspan="3" width="100%" height="20" style="border-collapse:collapse;border-color:transparent"></td>
                                  </tr>
                                  <tr class="m_6942690790101336136content-row" style="border-color:transparent">
                                    <td class="m_6942690790101336136gutter" width="30" height="100%" style="border-collapse:collapse;border-color:transparent"></td>
                                    <td class="m_6942690790101336136content-cell" width="540" style="border-collapse:collapse;border-color:transparent;vertical-align:top" valign="top">
                                      <h1 style="font-weight:normal;line-height:1.2;margin:0 0 10px;font-size:36px;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif"><span style="font-size:20px">Stream Pre-Recorded Video via Facebook Live</span></h1>
                                      <p style="display:block;font-size:inherit;line-height:inherit;margin:0 0 10px;color:inherit;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;width:100%;font-weight:normal;padding:0" width="100%">&nbsp;</p>
                                      <p style="display:block;font-size:inherit;line-height:inherit;margin:0 0 10px;color:inherit;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;width:100%;font-weight:normal;padding:0" width="100%">Are you looking for new ways to use live video?</p>
                                      <p style="display:block;font-size:inherit;line-height:inherit;margin:0 0 10px;color:inherit;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;width:100%;font-weight:normal;padding:0" width="100%">We are happy to announce that you can stream pre-recorded video now using&nbsp;<a href="http://www.shurikenlive.com/users/auth/facebook" style="text-decoration:none;color:#0089bf" target="_blank">Shuriken Live</a>. You can schedule live streaming and engage your Facebook audience while you work on even more exciting content.</p>
                                      <p style="display:block;font-size:inherit;line-height:inherit;margin:0 0 10px;color:inherit;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;width:100%;font-weight:normal;padding:0" width="100%">Or maybe you are nervous to host live streams in real time? Then it is the perfect solution for you! Just record a video in advance and stream it like it is a live stream.</p>
                                      <p style="display:block;font-size:inherit;line-height:inherit;margin:0 0 10px;color:inherit;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;width:100%;font-weight:normal;padding:0" width="100%">Are you a media company? Cool! You can use it to stream your videos to reach more audience. Stream your news, announcements, weather forecast etc. and get way more engagement compared to usual videos.</p>
                                    </td>
                                    <td class="m_6942690790101336136gutter" width="30" height="100%" style="border-collapse:collapse;border-color:transparent"></td>
                                  </tr>
                                  <tr style="border-color:transparent">
                                    <td class="m_6942690790101336136expander" colspan="3" width="100%" height="0" style="border-collapse:collapse;border-color:transparent"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5;background-color:#fff" bgcolor="#ffffff">
                        <tbody>
                          <tr style="border-color:transparent">
                            <td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                              <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5">
                                <tbody>
                                  <tr style="border-color:transparent">
                                    <td class="m_6942690790101336136expander" colspan="3" width="100%" height="10" style="border-collapse:collapse;border-color:transparent"></td>
                                  </tr>
                                  <tr class="m_6942690790101336136content-row" style="border-color:transparent">
                                    <td class="m_6942690790101336136gutter" width="30" height="100%" style="border-collapse:collapse;border-color:transparent"></td>
                                    <td class="m_6942690790101336136content-cell" width="540" style="border-collapse:collapse;border-color:transparent;vertical-align:top" valign="top">
                                      <table cellpadding="0" border="0" cellspacing="0" align="left" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5;border-color:#ddd;border-style:solid;border-width:1px;border:0;background:#0089bf;border-radius:5px" height="40" class="m_6942690790101336136btnCls m_6942690790101336136flat">
                                        <tbody>
                                          <tr style="border-color:transparent">
                                            <td style="border-collapse:collapse;border-color:#ddd;border-style:solid;border-width:1px;padding:0;border:0;width:21px!important" width="21px !important">&nbsp;</td>
                                            <td style="border-collapse:collapse;border-color:#ddd;border-style:solid;border-width:1px;padding:0;border:0;border-radius:5px;height:40px;text-align:center;vertical-align:middle;width:auto" height="40" align="center" valign="middle" width="auto">
                                              <a style="text-decoration:none;color:#0089bf;display:block" href="http://s6668093.stat-pulse.com/urls/113492575/NDc3NjQ3Mg==/ffb824282e131646f1302137606cc397/h/28edd3380a1c17cf65b137fe96516659" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://s6668093.stat-pulse.com/urls/113492575/NDc3NjQ3Mg%3D%3D/ffb824282e131646f1302137606cc397/h/28edd3380a1c17cf65b137fe96516659&amp;source=gmail&amp;ust=1510068693274000&amp;usg=AFQjCNHuKQrc9qvuSOdV4NIpk8b3nvvxiQ"></a>
                                              <table cellpadding="0" border="0" cellspacing="0" width="100%" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5;border-color:#ddd;border-style:solid;border-width:1px;border:0">
                                                <tbody>
                                                  <tr style="border-color:transparent">
                                                    <td align="center" style="border-collapse:collapse;border-color:#ddd;border-style:solid;border-width:1px;padding:0;border:0;line-height:1"><a style="text-decoration:none;color:#fff;display:block;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:16px;font-weight:bold" href="http://www.shurikenlive.com/users/auth/facebook" target="_blank">Try it now</a></td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                            <td style="border-collapse:collapse;border-color:#ddd;border-style:solid;border-width:1px;padding:0;border:0;width:21px!important" width="21px !important">&nbsp;</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                    <td class="m_6942690790101336136gutter" width="30" height="100%" style="border-collapse:collapse;border-color:transparent"></td>
                                  </tr>
                                  <tr style="border-color:transparent">
                                    <td class="m_6942690790101336136expander" colspan="3" width="100%" height="30" style="border-collapse:collapse;border-color:transparent"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </th>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr style="border-color:transparent">
            <td border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
              <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5;width:100%" border="0" width="100%">
                <tbody>
                  <tr style="border-color:transparent">
                    <th width="600" style="border-color:transparent;font-weight:400;text-align:left;vertical-align:top" cellpadding="0" cellspacing="0" class="m_6942690790101336136tc" align="left" valign="top">
                      <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5;background-color:#eee" bgcolor="#eeeeee">
                        <tbody>
                          <tr style="border-color:transparent">
                            <td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                              <table class="m_6942690790101336136separator" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5;background-color:#eee;height:35px;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0" bgcolor="#eeeeee" height="35">
                                <tbody>
                                  <tr style="border-color:transparent">
                                    <td height="35" style="border-collapse:collapse;border-color:transparent"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </th>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr style="border-color:transparent">
            <td border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
              <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5;width:100%" border="0" width="100%">
                <tbody>
                  <tr style="border-color:transparent">
                    <th width="600" style="border-color:transparent;font-weight:400;text-align:left;vertical-align:top" cellpadding="0" cellspacing="0" class="m_6942690790101336136tc" align="left" valign="top">
                      <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5;background-color:#eee" bgcolor="#eeeeee">
                        <tbody>
                          <tr style="border-color:transparent">
                            <td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                              <table width="100%" cellpadding="0" cellspacing="0" id="m_6942690790101336136w" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5;background-color:#eee;font-weight:normal;margin:0" bgcolor="#eeeeee">
                                <tbody>
                                  <tr style="border-color:transparent">
                                    <td class="m_6942690790101336136expander" colspan="3" width="100%" height="0" style="border-collapse:collapse;border-color:transparent"></td>
                                  </tr>
                                  <tr class="m_6942690790101336136content-row" style="border-color:transparent">
                                    <td class="m_6942690790101336136gutter" width="30" height="100%" style="border-collapse:collapse;border-color:transparent"></td>
                                    <td class="m_6942690790101336136content-cell" width="540" style="border-collapse:collapse;border-color:transparent;vertical-align:top" valign="top">
                                      <p style="display:block;font-size:inherit;line-height:inherit;margin:0 0 10px;color:inherit;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;width:100%;font-weight:normal;padding:0;text-align:center" width="100%" align="center"><span style="font-size:13px;line-height:19.5px">© Copyright, 2017, Shuriken Live • New Delhi, India</span></p>
                                    </td>
                                    <td class="m_6942690790101336136gutter" width="30" height="100%" style="border-collapse:collapse;border-color:transparent"></td>
                                  </tr>
                                  <tr style="border-color:transparent">
                                    <td class="m_6942690790101336136expander" colspan="3" width="100%" height="0" style="border-collapse:collapse;border-color:transparent"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5;background-color:#eee" bgcolor="#eeeeee">
                        <tbody>
                          <tr style="border-color:transparent">
                            <td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
                              <table width="100%" cellpadding="0" cellspacing="0" id="m_6942690790101336136w" style="border-collapse:collapse;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:14px;line-height:1.5;background-color:#eee;font-weight:normal;margin:0" bgcolor="#eeeeee">
                                <tbody>
                                  <tr style="border-color:transparent">
                                    <td class="m_6942690790101336136expander" colspan="3" width="100%" height="0" style="border-collapse:collapse;border-color:transparent"></td>
                                  </tr>
                                  <tr class="m_6942690790101336136content-row" style="border-color:transparent">
                                    <td class="m_6942690790101336136gutter" width="30" height="100%" style="border-collapse:collapse;border-color:transparent"></td>
                                    <td class="m_6942690790101336136content-cell" width="540" style="border-collapse:collapse;border-color:transparent;vertical-align:top" valign="top">
                                      <p style="display:block;font-size:inherit;line-height:inherit;margin:0 0 10px;color:inherit;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;width:100%;font-weight:normal;padding:0;text-align:center" width="100%" align="center"><span style="font-size:13px">This newsletter is sent to you, because you are a customer or user of Shuriken Live.</span></p>
                                    </td>
                                    <td class="m_6942690790101336136gutter" width="30" height="100%" style="border-collapse:collapse;border-color:transparent"></td>
                                  </tr>
                                  <tr style="border-color:transparent">
                                    <td class="m_6942690790101336136expander" colspan="3" width="100%" height="30" style="border-collapse:collapse;border-color:transparent"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </th>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>