<!-- <center>
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-4726706343331157"
	     data-ad-slot="5921286380"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</center>
 --><div class="row post-container white z-depth-3">
  <% if @posts.count == 0 %>
    <div class="note white-text"> No Posts Available for this page.</div>
  <% end %>
  <%= paginate @posts, window: 2%>
  <% @posts.each do |post| %>
    <%= render 'post' , :post => post %>
  <%end%>
</div>
