<div>
	<% puts "rendering mail" %>
	<div>Username: <%=@question_details[:username]%></div>
	<div>Email Id: <%=@question_details[:user_email_id]%></div>
	<div>Phone No: <%@question_details[:phone]%></div>
	<div>Message: <%=@question_details[:message]%></div>
</div>