<div class="card col s12 m6 l6 hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="/templates/template<%=template.id%>.png">
  </div>
  <div class="card-content">
    <center class="card-title activator grey-text text-darken-4 bolder relative" style="left: 20px;"><%=template.name.titleize%><i class="material-icons right">more_vert</i></center>
    <center><a href="/polls/new?template=<%=template.id%>" class="btn">Try now</a></center>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4 bolder">Features<i class="material-icons right">close</i></span>
    <ul class="black-text features">
      <% template.features.each do |f| %>
          <li>
            <i class="material-icons">play_arrow</i><%= f.description %>
          </li>
      <% end %>
    </ul>
  </div>
</div>