<div class="container-wide section">
<%= form_for(@post,url: "/editors/update/#{@post.id}",html: {class: "col s12"}) do |f| %>
	<div class="white z-depth-4"  style="padding: 35px;">
		<div class="row">
      <div class="input-field col s12">
        <textarea id="post_caption" name="post[default_message]" class="materialize-textarea" style="margin: 0px;"></textarea>
        <label for="textarea1">Caption Link</label>
      </div>
  	</div>
		<%#= f.text_field :default_message %>
	  <div class="row">
	    <%= f.submit "Submit", {class: "col s12 btn", data: {:confirm => 'Are you sure?'} }%>
	  </div>
	</div>
<% end %>
</div>