<html>
  <head>
    <link href="http://vjs.zencdn.net/5.19.0/video-js.css" rel="stylesheet">
  </head>

  <body>
    <video id="my-video" class="video-js" loop preload="auto" autoplay width="800" height="450" data-setup="{}">
      <source src="<%=post.video.url%>" type='video/mp4'>
    </video>

    <script src="http://vjs.zencdn.net/5.19.0/video.js"></script>
  </body>

  <style>
    *{
      padding: 0;
      margin: 0;
    }
  </style>
  <script></script>
</html>