<html>
  <head>
    <title>YouTube to FB</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  </head>

  <body>
    <% regEx = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/ %>
    <% video_id = post.link.url.match(regEx)[7]%>
	 	<div class="wrapper">
      <iframe width="1280" height="720" src="https://www.youtube.com/embed/<%=video_id%>?playlist=<%=video_id%>&autoplay=1&loop=1&controls=0&vq=hd720&iv_load_policy=3&rel=0" frameborder="0" allowfullscreen>
	 		</iframe>
      <div class="hide-cursor"></div>
    </div>
  </body>

  <style>
  	* {
      cursor: none;
      padding: 0;
      margin: 0;
    }
    .wrapper {
    	position: relative;
		}

	.hide-cursor {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  right: 0;
	  left: 0;
	  cursor: none;
	  z-index: 100;
	}
  </style>
</html>