@import "materialize/components/color";
$primary-color: #4267b2 !default;
$secondary-color: #fa3e3e !default;
@import 'materialize';
@import "materialize/extras/nouislider";

.tabs-content .carousel-item 
{ 
  display: flex;
  height: 100%; 
  width: 100%;
}

td
{
  width: 20%;
}
body
{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: linear-gradient(to right, #bbbbbb, #cccccc, #eeeeee, #ffffff, #eeeeee, #cccccc, #bbbbbb);
}
html, body, .block 
{
  height: 100%;
}
.small-heading
{
  font-size: 24px;
}
#donation
{
  width: 130px;
  position: fixed;
  bottom: 0px;
  right: 40px;
  z-index: 20;
  padding-top: 10px;
  .close-button
  {
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    height: 16px;
    width: 16px;
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 1;
    transition: background-color .2s;

    i
    {
      top: -3px;
    }
  }
  .donate-image
  {
    width: 100%;
  }
  .donation-message
  {
    font-size: 14px;
    color: white;
  }
  border: 2px solid white;
}
#cover 
{
  position: fixed;
  height: 100%; 
  width: 100%; 
  top:0; 
  left: 0; 
  background: #ffffff; 
  z-index:9999;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#container
{
  *
  {
    z-index: 100;
  }
}
#pluginCarousel
{
  height: 600px !important;
  .carousel-item
  {
    padding: 30px;
  }
}
main
{
  flex: 1 0 auto;
}
.logo
{
  position: relative;
  top: 5px;
  height: 52px;
}
.page-heading
{
  font-size: 36px;
}
.note
{
  font-size: 22px;
  background-color: rgba(41,43,44,0.9);
  border-radius: 5px;
  max-width: 94%;
  margin: 2px auto;
  text-align: center;
}
.dashboard_details
{
  background-color: rgba(41, 43, 44, 0.9);
  border-radius: 5px;
  margin: 10px auto;
}
.radial-gradient
{
  background: radial-gradient(#0089ec,#4267b2,#421782);
}

.radial-gradient-grey
{
  background: radial-gradient(#616161, #615c5c, #3c3939, #0e0d0d);
}
.card:hover
{
  border-color: black;
}
#toast-container
{
  right: auto !important;  
  bottom: auto !important;  
  top: 55px;
  left: 0%;
}
.post-container
{
  margin: 10px 5% 50px 5%;
  padding: 30px 10px;
}
.btn-less-padding
{
  padding: 2px 10px 2px 10px !important; 
}
.margin-2
{
  margin: 2px;
}
.pointer
{
  cursor: pointer;
}
.paginator
{
  padding: 5px;
  background-color: rgba(41,43,44,0.9);
}
.linear-gradient
{
  background: linear-gradient(to bottom, #4267b2, #0089ec, #0089ec, #0089ec, #4267b2, #421782);
  //background: linear-gradient(to bottom, hsla(220, 46%, 48%, 1), hsla(205, 100%, 46%, 1), hsla(205, 100%, 46%, 1), hsla(205, 100%, 46%, 1), hsla(220, 46%, 48%, 1), hsla(264, 70%, 80%, 1));
}

.greenish
{
  background-color: #00d04b !important;
}
.dull-purple
{
  background-color: rgb(86,61,124) !important;
}
.flexbox
{
  display: flex !important;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.flexbox-vertical
{
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.icon-descriptor
{
  margin-left: 5px;
}
.container-wide
{
  width: 80%;
  margin: 0 auto;
}
.container-extrawide
{
  width: 90%;
  margin: 0 auto;
}
.privacy-box
{
  margin: 15px auto;
  padding: 30px;
  .policy-para
  {
    line-height: 25px;
  }
  h5
  {
    font-weight: bolder;
  }
  ol
  {
    -webkit-padding-start: 15px;
    list-style-type: disc;
    li
    {
      line-height: 25px;
      span
      {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}
.post-image
{
  width: 100%;
  height: 100%;
}
.post-show
{
  padding: 40px;
}
.zero-padding
{
  padding: 0px !important;
}
.zero-margin
{
  margin: 0px !important;
}
.padding-5
{
  padding: 5px;
}
.side-padding-10
{
  padding: 0 10px;
}
.terms-box
{
  margin: 15px auto;
  padding: 30px;
  h5
  {
    font-weight: bolder;
  }
  ol
  {
    -webkit-padding-start: 15px;
    li
    {
      line-height: 25px;
      span
      {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}
#dropdown1 li a,#dropdown2 li a
{
  color: #616161;
  font-weight: 600;
}
.margin
{
  margin: 30px 20px 30px 20px !important;
}
.bold
{
  font-weight: bold !important;
}
.bolder
{
  font-weight: bolder !important;
}
.nav-option
{
  font-size: 18px;
}
.relative
{
  position: relative;
}
.absolute
{
  position: absolute;
}
.session_button
{
	position: relative;
	top: 10px;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
a:hover
{
  cursor: pointer;
}
footer
{
  .query-btn
  {
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  a:hover
  {
    text-decoration: underline;
  }
}

.plugin
{
  width: 80%;
  img
  {
    width: 720px;
    height: 405px;
  }
}
.features
{
  li
  {
    font-size: 24px;
    i
    {
      margin-right: 10px;
    }
  }
}
@keyframes display {
    from {opacity: 1;}
    to {opacity: 0.3;}
}
.newFeature{
  position:relative;
  font-size: 13px; 
  top: -6px; 
  left: 4px; 
  font-weight: 900;
  animation: display 1s ease-in 0s infinite alternate;
}

.premiumTemplate
{
  animation: display 1s ease-in 0s infinite alternate; 
}

.templateTitle
{
  position: relative;
  left: 20px;  
}

@media only screen and (max-width : 600px)
{
  .about-us
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .logo
  {
    left: 10px;
    height: 47px;
  }

}

@media only screen and (max-width : 480px) {
  .post-show
  {
    padding: 20px;
  }
  .plugin
  {
    width: 95%;
  }
  .plugin img
  {
    height: 250px !important;
  }
  #donation
  {
    width: 95%;
    bottom: 3px;
    left: 2%;
    margin-bottom: 0px;
    padding-top: 5px;
    display: flex;
    .donate-anchor
    {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      min-width: 100px;
    }
    .donate-image
    {
      margin: 6% 10px 0 0;
      height: 50px;
    }
    .donation-message
    {
      top: 0px !important;
      font-size: 15px;
    }
    .close-button i
    {
      top: -2px;
    }
  }
  .container-wide
  {
    width: 95%;
  }
  #pluginCarousel
  {
    height: 400px !important;
    .carousel-item
    {
      padding: 10px !important;
    }
  }
  .templateTitle
  {
    font-size: 20px !important;
  } 
}

@media only screen and (max-width : 720px)
{
  .plugin img
  {
    height: 250px !important;
  }
  .features
  {
    li
    {
      text-align: left;
      font-size: 22px;
      i
      {
        top: 4px;
        margin-right: 6px;
      }
    }
  }
  .small-heading
  {
    margin: 10px auto;
  }
  #pluginCarousel
  {
    height: 450px !important;
    .carousel-item
    {
      padding: 20px;
    }
  }
}

@media only screen and (max-width: 992px)
{
  .templateTitle
  {
    left: 0px;
  }  
}

@media only screen and (max-width : 1080px)
{
  #nav-container
  {
    width: 95%;
  }
}










// Style.css of materialize

nav ul,
nav {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 450px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width : 324px)
{
  .parallax-container
  {
  	min-height: 430px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}