@import "materialize/components/color";
$primary-color: #4267b2 !default;
$secondary-color: #fa3e3e !default;
@import 'materialize';
@import "materialize/extras/nouislider";

.nav-option
{
  min-width: 140px;
  font-size: 18px;
}
.relative
{
  position: relative;
}
