@import "materialize/components/color";
$primary-color: #4267b2 !default;
$secondary-color: #fa3e3e !default;
@import 'materialize';
@import "materialize/extras/nouislider";

td
{
  width: 20%;
}
body
{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: linear-gradient(to right, #bbbbbb, #cccccc, #eeeeee, #ffffff, #eeeeee, #cccccc, #bbbbbb);
}
#cover 
{
  position: fixed;
  height: 100%; 
  width: 100%; 
  top:0; 
  left: 0; 
  background: #ffffff; 
  z-index:9999;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main
{
  flex: 1 0 auto;
}
.logo
{
  position: relative;
  top: -3px;
  width: 260px;
  height: 64px;
}

@media only screen and (max-width : 480px) {
  .logo
  {
    position: relative;
    top: 0px;
    left: 10px;
    width: 180px;
    height: 56px;
  }
}
@media only screen and (max-width : 1080px)
{
  #nav-container
  {
    width: 95%;
  }
}
.radial-gradient
{
  background: radial-gradient(#0089ec,#4267b2,#421782);
}
#toast-container
{
  right: auto !important;  
  bottom: auto !important;  
  top: 55px;
  left: 0%;
}
.linear-gradient
{
  background: linear-gradient(to bottom, #4267b2, #0089ec, #0089ec, #0089ec, #4267b2, #421782);
  //background: linear-gradient(to bottom, hsla(220, 46%, 48%, 1), hsla(205, 100%, 46%, 1), hsla(205, 100%, 46%, 1), hsla(205, 100%, 46%, 1), hsla(220, 46%, 48%, 1), hsla(264, 70%, 80%, 1));
}

.greenish
{
  background-color: #00d04b !important;
}

.flexbox
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container-wide
{
  width: 80%;
  margin: 0 auto;
}
.container-extrawide
{
  width: 90%;
  margin: 0 auto;
}
.privacy-box
{
  width: 80%;
  margin: 10px 10% 50px 10%;
  padding: 30px;
  .policy-para
  {
    line-height: 25px;
  }
  h5
  {
    font-weight: bolder;
  }
  ol
  {
    list-style-type: disc;
    li
    {
      line-height: 25px;
      span
      {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

.terms-box
{
  width: 80%;
  margin: 10px 10% 50px 10%;
  padding: 30px;
  h5
  {
    font-weight: bolder;
  }
  ol
  {
    li
    {
      line-height: 25px;
      span
      {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

.margin
{
  margin: 30px 20px 30px 20px !important;
}
.bold
{
  font-weight: bold;
}
.bolder
{
  font-weight: bolder;
}
.nav-option
{
  min-width: 80px;
  font-size: 18px;
}
.relative
{
  position: relative;
}
.session_button
{
	position: relative;
	top: 10px;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
a:hover
{
  cursor: pointer;
}

footer a:hover
{
  text-decoration: underline;
  color: yellow !important;
}














// Style.css of materialize

nav ul,
nav {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width : 324px)
{
  .parallax-container
  {
  	min-height: 430px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}