<div class="col s12 m4 l3">
  <div class="card hoverable circle">
    <div class="card-image">
      <img src="<%=client.image_url%>">
    </div>
    <div class="card-action">
      <a href="https://www.facebook.com/<%=client.page_id%>" target="_blank" class="truncate bold center"><%=client.name%></a>
    </div>
  </div>
</div>