<link href="https://cdnjs.cloudflare.com/ajax/libs/video.js/6.3.3/video-js.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/6.3.3/video.js"></script>

<div class="header page-heading grey-text text-darken-2 bolder center">Demo Video</div>
<div class="container">
	<video class="responsive-video" width="900" height="400" controls="controls">
    	<source src="/videos/out.mp4">
		<source src="/videos/out.ogv" >
	</video>
</div>