<h3 class="header grey-text text-darken-2 bolder center">Demo Video</h3>
<div class="container">
	<video class="responsive-video" title="If you are chrome user, then please download this video and then watch it as this is a bug with chrome browser." width="900" height="400" controls="controls">
    	<source src="/videos/out.mp4"/>
		<source src="/videos/out.ogv"/>
	</video>
</div>