<center>
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-4726706343331157"
	     data-ad-slot="5921286380"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</center>
<div class="header page-heading grey-text text-darken-2 bolder center">Demo Video</div>
<div class="container">
	<video class="responsive-video" width="900" height="400" controls="controls">
    	<source src="/videos/out.mp4"/>
		<source src="/videos/out.ogv"/>
	</video>
</div>