<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">

<!-- <ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s3"><a href="#test-swipe-1">Test 1</a></li>
    <li class="tab col s3"><a class="active" href="#test-swipe-2">Test 2</a></li>
    <li class="tab col s3"><a href="#test-swipe-3">Test 3</a></li>
  </ul>
  <div id="test-swipe-1" class="test col s12 blue">Test 1</div>
  <div id="test-swipe-2" class="col test s12 red">Test 2</div>
  <div id="test-swipe-3" class="col s12  test green">Test 3</div>
 --> 
 <div class="v valign-wrapper">
      <div class="c ci">
        <div class="d iv jc offset-m1">
          <div class="c">
            <div class="d iv kr">
              <div class="pricing-table">
                <div class="pricing-header">
                  <i class="icon-paper-plane"></i>
                  <h4>Donor</h4>
                  <div class="gd">
                    <span class="hm">$</span>
                    <span class="dollars">10</span>
                  </div>
                </div>
                <ul class="pricing-features">
                  <li class="pricing-feature"><i class="icon-accept"></i>1 Month validity.</li>
                  <li class="pricing-feature"><i class="icon-accept"></i>Unlimited Streaming Minutes.</li>
                  <li class="pricing-feature"><i class="icon-accept"></i>Watermark Removed.</li>
                  <li class="pricing-feature"><i class="icon-accept"></i>Schedule Post.</li>
                  <li class="pricing-feature"><i class="icon-accept"></i>2 Hours Max. Video Duration. </li>
                  <li class="pricing-feature"><i class="icon-accept"></i>Upload Video File Upto 500MB.</li>
                  <li class="pricing-feature au"><i class="icon-close"></i>Premium Templates.</li>
                  <li class="pricing-feature au"><i class="icon-close"></i>Multiple Live at Same Time.</li>
                </ul>
                <a href="/purchase" class="btn purchase-btn">Purchase</a>
              </div>
            </div>


            <div class="d iv kr center-package">
              <div class="pricing-table fk">
                <div class="pricing-header">
                  <i class="icon-plane"></i>
                  <h4>Premium</h4>
                  <div class="gd">
                    <span class="hm">$</span>
                    <span class="dollars">15</span>
                  </div>
                </div>
                <ul class="pricing-features">
                  <li class="pricing-feature"><i class="icon-accept"></i>1 Month validity.</li>
                  <li class="pricing-feature"><i class="icon-accept"></i>Unlimited Streaming Minutes.</li>
                  <li class="pricing-feature"><i class="icon-accept"></i>Watermark Removed.</li>
                  <li class="pricing-feature"><i class="icon-accept"></i>Schedule Post.</li>
                  <li class="pricing-feature"><i class="icon-accept"></i>4 Hours Max. Video Duration.</li>
                  <li class="pricing-feature"><i class="icon-accept"></i>Upload Video File Upto 1000MB.</li>
                  <li class="pricing-feature"><i class="icon-accept"></i>Premium Templates.</li>
                  <li class="pricing-feature au"><i class="icon-close"></i>Multiple Live at Same Time.</li>
                </ul>
                <a href="/purchase" class="btn">Purchase</a>
              </div>
            </div>

            <div class="d iv kr">
              <div class="pricing-table">
                <div class="pricing-header">
                  <i class="icon-rocket"></i>
                  <h4>Ultimate</h4>
                  <div class="gd">
                    <span class="hm">$</span>
                    <span class="dollars">20</span>
                  </div>
                </div>
                <ul class="pricing-features">
                  <li class="pricing-feature"><i class="icon-accept"></i>1 Month Validity.</li>
                  <li class="pricing-feature"><i class="icon-accept"></i>Unlimited Streaming Minutes.</li>
                  <li class="pricing-feature"><i class="icon-accept"></i>Watermark Removed.</li>
                  <li class="pricing-feature"><i class="icon-accept"></i>Schedule Post.</li>
                  <li class="pricing-feature"><i class="icon-accept"></i>8 Hours Max. Video Duration.</li>
                  <li class="pricing-feature"><i class="icon-accept"></i>Upload Video File Upto 2000MB.</li>
                  <li class="pricing-feature"><i class="icon-accept"></i>Premium Templates.</li>
                  <li class="pricing-feature"><i class="icon-accept"></i>Multiple Live at Same Time.</li>
                </ul>
                <a href="/purchase" class="btn">Purchase</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>       
<style>
.dv .c {
    margin-left: -.75rem;
    margin-right: -.75rem
}
.v {
    padding-top: 1rem;
    padding-bottom: 1rem
}
.v.no-pad {
    padding: 0
}
.v.no-pad-bot {
    padding-bottom: 0
}
.v.no-pad-top {
    padding-top: 0
}
.c {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px
}
.c:after {
    content: "";
    display: table;
    clear: both
}
.c .d {
    float: left;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px
}
.c .col[class*="push-"],
.c .col[class*="pull-"] {
    position: relative
}
.c .d.jw {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.jx {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.jy {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.jz {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.kc {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.ka {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.kb {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.jt {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.ju {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.ix {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.iy {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.iv {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto
}
.c .d.offset-s1 {
    margin-left: 8.3333333333%
}
.c .d.pull-s1 {
    right: 8.3333333333%
}
.c .d.push-s1 {
    left: 8.3333333333%
}
.c .d.offset-s2 {
    margin-left: 16.6666666667%
}
.c .d.pull-s2 {
    right: 16.6666666667%
}
.c .d.push-s2 {
    left: 16.6666666667%
}
.c .d.offset-s3 {
    margin-left: 25%
}
.c .d.pull-s3 {
    right: 25%
}
.c .d.push-s3 {
    left: 25%
}
.c .d.offset-s4 {
    margin-left: 33.3333333333%
}
.c .d.pull-s4 {
    right: 33.3333333333%
}
.c .d.push-s4 {
    left: 33.3333333333%
}
.c .d.offset-s5 {
    margin-left: 41.6666666667%
}
.c .d.pull-s5 {
    right: 41.6666666667%
}
.c .d.push-s5 {
    left: 41.6666666667%
}
.c .d.offset-s6 {
    margin-left: 50%
}
.c .d.pull-s6 {
    right: 50%
}
.c .d.push-s6 {
    left: 50%
}
.c .d.offset-s7 {
    margin-left: 58.3333333333%
}
.c .d.pull-s7 {
    right: 58.3333333333%
}
.c .d.push-s7 {
    left: 58.3333333333%
}
.c .d.offset-s8 {
    margin-left: 66.6666666667%
}
.c .d.pull-s8 {
    right: 66.6666666667%
}
.c .d.push-s8 {
    left: 66.6666666667%
}
.c .d.offset-s9 {
    margin-left: 75%
}
.c .d.pull-s9 {
    right: 75%
}
.c .d.push-s9 {
    left: 75%
}
.c .d.offset-s10 {
    margin-left: 83.3333333333%
}
.c .d.pull-s10 {
    right: 83.3333333333%
}
.c .d.push-s10 {
    left: 83.3333333333%
}
.c .d.offset-s11 {
    margin-left: 91.6666666667%
}
.c .d.pull-s11 {
    right: 91.6666666667%
}
.c .d.push-s11 {
    left: 91.6666666667%
}
.c .d.offset-s12 {
    margin-left: 100%
}
.c .d.pull-s12 {
    right: 100%
}
.c .d.push-s12 {
    left: 100%
}
@media only screen and (min-width: 650px) {
    .c .d.ku {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.kt {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.ko {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.kr {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.ks {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.jo {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.jq {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.kw {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.kx {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.jc {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.iw {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.jd {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.offset-m1 {
        margin-left: 8.3333333333%
    }
    .c .d.pull-m1 {
        right: 8.3333333333%
    }
    .c .d.push-m1 {
        left: 8.3333333333%
    }
    .c .d.offset-m2 {
        margin-left: 16.6666666667%
    }
    .c .d.pull-m2 {
        right: 16.6666666667%
    }
    .c .d.push-m2 {
        left: 16.6666666667%
    }
    .c .d.offset-m3 {
        margin-left: 25%
    }
    .c .d.pull-m3 {
        right: 25%
    }
    .c .d.push-m3 {
        left: 25%
    }
    .c .d.offset-m4 {
        margin-left: 33.3333333333%
    }
    .c .d.pull-m4 {
        right: 33.3333333333%
    }
    .c .d.push-m4 {
        left: 33.3333333333%
    }
    .c .d.offset-m5 {
        margin-left: 41.6666666667%
    }
    .c .d.pull-m5 {
        right: 41.6666666667%
    }
    .c .d.push-m5 {
        left: 41.6666666667%
    }
    .c .d.offset-m6 {
        margin-left: 50%
    }
    .c .d.pull-m6 {
        right: 50%
    }
    .c .d.push-m6 {
        left: 50%
    }
    .c .d.offset-m7 {
        margin-left: 58.3333333333%
    }
    .c .d.pull-m7 {
        right: 58.3333333333%
    }
    .c .d.push-m7 {
        left: 58.3333333333%
    }
    .c .d.offset-m8 {
        margin-left: 66.6666666667%
    }
    .c .d.pull-m8 {
        right: 66.6666666667%
    }
    .c .d.push-m8 {
        left: 66.6666666667%
    }
    .c .d.offset-m9 {
        margin-left: 75%
    }
    .c .d.pull-m9 {
        right: 75%
    }
    .c .d.push-m9 {
        left: 75%
    }
    .c .d.offset-m10 {
        margin-left: 83.3333333333%
    }
    .c .d.pull-m10 {
        right: 83.3333333333%
    }
    .c .d.push-m10 {
        left: 83.3333333333%
    }
    .c .d.offset-m11 {
        margin-left: 91.6666666667%
    }
    .c .d.pull-m11 {
        right: 91.6666666667%
    }
    .c .d.push-m11 {
        left: 91.6666666667%
    }
    .c .d.offset-m12 {
        margin-left: 100%
    }
    .c .d.pull-m12 {
        right: 100%
    }
    .c .d.push-m12 {
        left: 100%
    }
}
@media only screen and (min-width: 993px) {
    .c .d.kh {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.kj {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.ki {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.kk {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.kd {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.ke {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.kl {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.kn {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.km {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.jh {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.jg {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.ji {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.offset-l1 {
        margin-left: 8.3333333333%
    }
    .c .d.pull-l1 {
        right: 8.3333333333%
    }
    .c .d.push-l1 {
        left: 8.3333333333%
    }
    .c .d.offset-l2 {
        margin-left: 16.6666666667%
    }
    .c .d.pull-l2 {
        right: 16.6666666667%
    }
    .c .d.push-l2 {
        left: 16.6666666667%
    }
    .c .d.offset-l3 {
        margin-left: 25%
    }
    .c .d.pull-l3 {
        right: 25%
    }
    .c .d.push-l3 {
        left: 25%
    }
    .c .d.offset-l4 {
        margin-left: 33.3333333333%
    }
    .c .d.pull-l4 {
        right: 33.3333333333%
    }
    .c .d.push-l4 {
        left: 33.3333333333%
    }
    .c .d.offset-l5 {
        margin-left: 41.6666666667%
    }
    .c .d.pull-l5 {
        right: 41.6666666667%
    }
    .c .d.push-l5 {
        left: 41.6666666667%
    }
    .c .d.offset-l6 {
        margin-left: 50%
    }
    .c .d.pull-l6 {
        right: 50%
    }
    .c .d.push-l6 {
        left: 50%
    }
    .c .d.offset-l7 {
        margin-left: 58.3333333333%
    }
    .c .d.pull-l7 {
        right: 58.3333333333%
    }
    .c .d.push-l7 {
        left: 58.3333333333%
    }
    .c .d.offset-l8 {
        margin-left: 66.6666666667%
    }
    .c .d.pull-l8 {
        right: 66.6666666667%
    }
    .c .d.push-l8 {
        left: 66.6666666667%
    }
    .c .d.offset-l9 {
        margin-left: 75%
    }
    .c .d.pull-l9 {
        right: 75%
    }
    .c .d.push-l9 {
        left: 75%
    }
    .c .d.offset-l10 {
        margin-left: 83.3333333333%
    }
    .c .d.pull-l10 {
        right: 83.3333333333%
    }
    .c .d.push-l10 {
        left: 83.3333333333%
    }
    .c .d.offset-l11 {
        margin-left: 91.6666666667%
    }
    .c .d.pull-l11 {
        right: 91.6666666667%
    }
    .c .d.push-l11 {
        left: 91.6666666667%
    }
    .c .d.offset-l12 {
        margin-left: 100%
    }
    .c .d.pull-l12 {
        right: 100%
    }
    .c .d.push-l12 {
        left: 100%
    }
}
@media only screen and (min-width: 1201px) {
    .c .d.jk {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.ja {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.jj {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.iu {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.jm {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.jl {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.je {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.jn {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.iz {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.ip {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.il {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.iq {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .c .d.offset-xl1 {
        margin-left: 8.3333333333%
    }
    .c .d.pull-xl1 {
        right: 8.3333333333%
    }
    .c .d.push-xl1 {
        left: 8.3333333333%
    }
    .c .d.offset-xl2 {
        margin-left: 16.6666666667%
    }
    .c .d.pull-xl2 {
        right: 16.6666666667%
    }
    .c .d.push-xl2 {
        left: 16.6666666667%
    }
    .c .d.offset-xl3 {
        margin-left: 25%
    }
    .c .d.pull-xl3 {
        right: 25%
    }
    .c .d.push-xl3 {
        left: 25%
    }
    .c .d.offset-xl4 {
        margin-left: 33.3333333333%
    }
    .c .d.pull-xl4 {
        right: 33.3333333333%
    }
    .c .d.push-xl4 {
        left: 33.3333333333%
    }
    .c .d.offset-xl5 {
        margin-left: 41.6666666667%
    }
    .c .d.pull-xl5 {
        right: 41.6666666667%
    }
    .c .d.push-xl5 {
        left: 41.6666666667%
    }
    .c .d.offset-xl6 {
        margin-left: 50%
    }
    .c .d.pull-xl6 {
        right: 50%
    }
    .c .d.push-xl6 {
        left: 50%
    }
    .c .d.offset-xl7 {
        margin-left: 58.3333333333%
    }
    .c .d.pull-xl7 {
        right: 58.3333333333%
    }
    .c .d.push-xl7 {
        left: 58.3333333333%
    }
    .c .d.offset-xl8 {
        margin-left: 66.6666666667%
    }
    .c .d.pull-xl8 {
        right: 66.6666666667%
    }
    .c .d.push-xl8 {
        left: 66.6666666667%
    }
    .c .d.offset-xl9 {
        margin-left: 75%
    }
    .c .d.pull-xl9 {
        right: 75%
    }
    .c .d.push-xl9 {
        left: 75%
    }
    .c .d.offset-xl10 {
        margin-left: 83.3333333333%
    }
    .c .d.pull-xl10 {
        right: 83.3333333333%
    }
    .c .d.push-xl10 {
        left: 83.3333333333%
    }
    .c .d.offset-xl11 {
        margin-left: 91.6666666667%
    }
    .c .d.pull-xl11 {
        right: 91.6666666667%
    }
    .c .d.push-xl11 {
        left: 91.6666666667%
    }
    .c .d.offset-xl12 {
        margin-left: 100%
    }
    .c .d.pull-xl12 {
        right: 100%
    }
    .c .d.push-xl12 {
        left: 100%
    }
}
.hg {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-top: 1.2rem;
    position: absolute;
    top: 0
}
.autocomplete-content {
    margin-top: -20px;
    display: block;
    opacity: 1;
    position: static
}
.autocomplete-content li .fa {
    color: #444
}
.autocomplete-content li img {
    height: 40px;
    width: 40px;
    margin: 5px 15px
}
.cw,
.cw * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none
}
.cw label {
    cursor: pointer
}
.cw label input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0
}
.cw label input[type=checkbox]:checked+.dd {
    background-color: #84c7c1
}
.cw label input[type=checkbox]:checked+.dd:after {
    background-color: #26a69a;
    left: 24px
}
.cw label .dd {
    content: "";
    display: inline-block;
    position: relative;
    width: 40px;
    height: 15px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px
}
.cw label .dd:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-color: #F1F1F1;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -5px;
    top: -3px;
    transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease
}
input[type=checkbox]:checked:not(:disabled) ~ .dd:active::after,
input[type=checkbox]:checked:not(:disabled).ed:focus ~ .dd::after {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(38, 166, 154, 0.1)
}
input[type=checkbox]:not(:disabled) ~ .dd:active:after,
input[type=checkbox]:not(:disabled).ed:focus ~ .dd::after {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.08)
}
.cw input[type=checkbox][disabled]+.dd {
    cursor: default
}
.cw label input[type=checkbox][disabled]+.dd:after,
.cw label input[type=checkbox][disabled]:checked+.dd:after {
    background-color: #BDBDBD
}
select {
    display: none
}
select.browser-default {
    display: block
}
select {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 3rem
}
.select-label {
    position: absolute
}
.select-wrapper {
    position: relative
}
.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    display: block
}
.select-wrapper span.gx {
    color: initial;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 10px;
    margin: auto 0;
    font-size: 10px;
    line-height: 10px
}
.select-wrapper span.gx.au {
    color: rgba(0, 0, 0, 0.26)
}
.select-wrapper+label {
    position: absolute;
    top: -14px;
    font-size: .8rem
}
select:disabled {
    color: rgba(0, 0, 0, 0.3)
}
.select-wrapper input.select-dropdown:disabled {
    color: rgba(0, 0, 0, 0.3);
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}
.select-wrapper i {
    color: rgba(0, 0, 0, 0.3)
}
.select-dropdown li.au,
.select-dropdown li.disabled>span,
.select-dropdown li.dq {
    color: rgba(0, 0, 0, 0.3);
    background-color: transparent
}
.ck ~ .select-wrapper {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem)
}
.ck ~ label {
    margin-left: 3rem
}
.select-dropdown li img {
    height: 40px;
    width: 40px;
    margin: 5px 15px;
    float: right
}
.select-dropdown li.dq {
    border-top: 1px solid #eee
}
.select-dropdown li.dq.selected>span {
    color: rgba(0, 0, 0, 0.7)
}
.select-dropdown li.optgroup>span {
    color: rgba(0, 0, 0, 0.4)
}
.select-dropdown li.dq ~ li.optgroup-option {
    padding-left: 1rem
}
.file-field {
    position: relative
}
.file-field .file-path-wrapper {
    overflow: hidden;
    padding-left: 10px
}
.file-field input.file-path {
    width: 100%
}
.file-field .f,
.file-field .btn-large {
    float: left;
    height: 3rem;
    line-height: 3rem
}
.file-field span {
    cursor: pointer
}
.file-field input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0)
}
.pricing-table {
    margin-top: 50px;
    border: 2px solid #1de9c3;
    display: flex;
    flex-direction: column;
}
.pricing-table.fk {
    margin-top: 0
}
.pricing-table.fk .pricing-header {
    padding: 45px 0
}
.pricing-table .pricing-header {
    position: relative;
    padding: 20px 0;
    text-align: center
}
.pricing-table .pricing-header i {
    position: absolute;
    top: 0;
    left: 50%;
    width: 80px;
    padding-left: 5px;
    margin-left: -40px;
    font-size: 28px;
    background-color: #000;
    transform: translateY(-50%)
}
.pricing-table .pricing-header .gd {
    font-size: 60px;
    line-height: 60px
}
.pricing-table .pricing-header .gd .hm,
.pricing-table .pricing-header .gd .ic {
    font-weight: 300;
    margin: 0 -10px;
    font-size: 20px;
    line-height: 42px;
    vertical-align: text-top
}
.pricing-table .pricing-features {
    margin: 0;
    padding: 10px 0 30px
}
.pricing-table .pricing-features .pricing-feature {
    font-weight: 300;
    padding: 10px 20px;
    text-align: center
}
.pricing-table .pricing-features .pricing-feature i {
    margin-right: 18px
}
.pricing-table .pricing-features .pricing-feature.au,
.pricing-table .pricing-features .pricing-feature.au i {
    color: rgba(19, 192, 160, 0.5)
}
.pricing-table .pricing-features .pricing-feature:hover {
    background-color: rgba(29, 233, 195, 0.2)
}
.v.l .pricing-header i {
    background-color: #fff
}
.v.r .pricing-header i,
.page-footer .v.footer-copyright .pricing-header i {
    background-color: #42c4ac
}
.v.r .pricing-features .pricing-feature.au,
.page-footer .v.footer-copyright .pricing-features .pricing-feature.au,
.v.r .pricing-features .pricing-feature.au i,
.page-footer .v.footer-copyright .pricing-features .pricing-feature.au i {
    color: rgba(12, 123, 102, 0.5)
}
@media only screen and (max-width: 650px) {
    .pricing-table {
        margin-top: 50px
    }
    .pricing-table.fk {
        margin-top: 50px
    }
}
.cg,
.v.cg {
    margin: 0;
    padding: 0;
    height: auto
}
.cg .c,
.v.cg .c {
    margin: 0
}
.cg .cz,
.v.cg .cz {
    position: relative;
    height: 256px
}
.cg .cz:hover .fz,
.v.cg .cz:hover .fz {
    transform: scale(1) translate(-50%, -50%)
}
.cg .cz:hover .cx,
.v.cg .cz:hover .cx {
    opacity: 1
}
.cg .cz .fz,
.v.cg .cz .fz {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0.8) translate(-50%, -50%);
    transform-origin: 0 0;
    transition: transform .2s
}
.cg .cz .cx,
.v.cg .cz .cx {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    text-align: center;
    line-height: 256px;
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    transition: opacity .2s
}
[class^="icon-"],
[class*=" icon-"] {
    font-family: 'simple-line-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.fr {
    height: 100%;
    z-index: 0;
    transform-style: preserve-3d
}
.fn,
.v.fn {
    max-height: 100%;
    width: 100%;
    transform: translateY(-100%);
    z-index: 0
}
.fn[data-disabled="true"],
.v.fn[data-disabled="true"] {
    max-height: none;
    transform: none
}
.fn.shuffle-under-end,
.v.fn.shuffle-under-end {
    z-index: 2
}
.fn.shuffle-under-active,
.v.fn.shuffle-under-active {
    z-index: 1
}
.gl {
    position: relative;
    height: 100%;
    perspective: 1000px
}
.gl .fixed-wrapper {
    position: relative;
    height: 100%;
    transform-origin: 50% 100%;
    overflow: hidden
}
@media screen and (orientation: portrait) {
    .gl .fixed-wrapper .bz,
    .gl .fixed-wrapper .bz img {
        width: auto;
        height: 100%
    }
}
body,
html {
    height: 100%
}
body {
    background-color: #000;
    color: #eee
}
body.light-theme {
    background-color: #fff;
    color: #444
}
@media only screen and (min-width: 993px) {
    .dv {
        width: 80%
    }
}
button {
    background: none;
    border: 0
}
button:focus {
    background: none
}
.v i {
    color: #1de9c3
}
.primary-color {
    background-color: #1de9c3 !important
}
.primary-color-text {
    color: #1de9c3 !important
}
.eh {
    margin: 40px 0
}
.google-map {
    width: 100%;
    color: #444
}
.no-gutter {
    padding-left: 0 !important;
    padding-right: 0 !important
}
.c.ci {
    width: 100%
}
.bz {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1
}

.v {
    position: relative;
    padding: 64px 0;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    z-index: 3
}
.v.l {
    color: #444
}
.v.l h1,
.v.l h2,
.v.l h3,
.v.l h4,
.v.l h5 {
    color: #444
}
.v.r,
.page-footer .v.footer-copyright {
    color: rgba(0, 0, 0, 0.6);
    background-color: #42c4ac
}
.v.r h1,
.page-footer .v.footer-copyright h1,
.v.r h2,
.page-footer .v.footer-copyright h2,
.v.r h3,
.page-footer .v.footer-copyright h3,
.v.r h4,
.page-footer .v.footer-copyright h4,
.v.r h5,
.page-footer .v.footer-copyright h5 {
    color: #fff
}
.v.gradient-1 {
    background: #00af8e;
    background: -moz-linear-gradient(top, #c 0%, #a 100%);
    background: -webkit-linear-gradient(top, #c 0%, #a 100%);
    background: linear-gradient(to bottom, #c 0%, #a 100%);
    filter: progid: DXImageTransform.du.gradient( startColorstr='#00af8e', endColorstr='#61ccb6', GradientType=0)
}
.v.gradient-2 {
    background: #61ccb6;
    background: -moz-linear-gradient(top, #a 0%, #b 100%);
    background: -webkit-linear-gradient(top, #a 0%, #b 100%);
    background: linear-gradient(to bottom, #a 0%, #b 100%);
    filter: progid: DXImageTransform.du.gradient( startColorstr='#61ccb6', endColorstr='#6ee5c9', GradientType=0)
}
.v.full-height {
    height: auto
}
.v.half-height {
    height: 50%
}
.v .section-title {
    margin-bottom: 30px
}
.v .ek {
    font-size: 1.4rem;
    font-weight: 200
}
.v .d {
    min-height: 1px
}

@media only screen and (max-width: 650px),
only screen and (max-device-width: 650px) and (orientation: landscape) {
    .v {
        height: auto
    }
    .v.full-height .valign-wrapper {
        display: block
    }
}
</style>
<script>
	$(document).ready(function(){
		console.log($("#tabs-swipe-demo").length);
		$("#tabs-swipe-demo").tabs({ 'swipeable' : true });
	});
</script>