<div id="faqs-section"> 
  <ul class="tabs">
    <li class="tab col s3"><a class="activate-resize actice" href="#swipe-1">Shuriken Live Project</a></li>
    <li class="tab col s3"><a class="activate-resize" href="#swipe-2">Facebook</a></li>
    <li class="tab col s3"><a class="activate-resize" href="#swipe-3">PlugIns And Live Videos</a></li>
    <li class="tab col s3"><a class="activate-resize" href="#swipe-4">Payment and Packages</a></li>
  </ul>
  <div id="swipe-1" class="grey lighten-4 flexbox">
    <div class="container">
      <ul class="collapsible popout" data-collapsible="accordion">
        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>What is Shuriken Live?</div>
          <div class="collapsible-body">
            <p>
              This service aims to help users creating <span class="bolder">Facebook LIVE streaming in a super easy and reliable way</span>. You will be able to choose from different kind of streaming templates. Basically, with this service we want to create a new way of interaction with your users, no matter what you do. LIVE videos can have tons of different way to interact in real time with a user.
            </p>
          </div>
        </li>
        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>What are Plugins?</div>
          <div class="collapsible-body">
            <p>
              A plugin is a feature that we provide to create LIVEs on social media platforms. Each plugin has specific characteristics, functionality and will create a unique experience for your users.
            </p>
          </div>
        </li>
        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>What are Templates?</div>
          <div class="collapsible-body">
            <p>
              Each plugin for creating live videos has many templates. Each template has a <span class="bolder">pre-structued body and look</span>. Based on the template, our users can customize its body, text and content in it by uploading images, videos. It enables users to use template according to their neeed.
            </p>
            <p>
              Templates are categorized in two different categories i.e <span class="bolder">Premium Templates</span> and <span class="bolder">Non-Premium Templates</span>.
            </p>
            <p>
              Non-Premium Templates are free to use by all our users where as Premium Templates can be used only by users having premium membership.
            </p>
          </div>
        </li>
        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>Do I need a Facebook Page?</div>
          <div class="collapsible-body">
            <p>
              Yes, currently our LIVE Streaming are studied for Facebook Pages, and not Personal Profiles or Groups, nor other socials.
            </p> 
            <p>
              The flexibility of our structure will let us create LIVEs also on channels such as YouTube or Instagram. Currently this feature is available only on custom projects and not to everyone. All our public plugins are studied to perfectly integrate with Facebook Pages and its users.
            </p>
          </div>
        </li>
        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>How can I stream for more than 1 hour?</div>
          <div class="collapsible-body">
            <p>
              For testing and getting familiar with our tool, we allow our users to try our app with maximum duration of LIVE as 1 hour.</br>
              If you want to stream for more than one hour, you can <span class="bolder">purchase any of our packages and become a premium member</span>. You can find more about it on our <a href="/pricing" class="bolder">Pricing Page</a>. 
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div id="swipe-2" class="grey lighten-4 flexbox">
    <div class="container">
      <ul class="collapsible popout" data-collapsible="accordion">
        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>Does Live have a delay?</div>
          <div class="collapsible-body">
            <p>
              Like all streaming providers, Facebook introduce a delay to prevent small interruptions on you users' devices. Our Streaming servers stream directly to Facebook, that will then stream to your users' devices. Facebook servers will keep a cache of at least 10 seconds, this means, on average, that the final device will experiment a <span class="bolder">delay of about 10-15 seconds</span>. This value can increase on very slow connections.
            </p>
          </div>
        </li>
        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>How can I publish on one of my Pages?</div>
          <div class="collapsible-body">
            <p>
              Once you have selected a plugin and template of your choice, you'll be able to publish in just one step. You just have to give us following details regarding your live post : 
            </p>
            <p>
              <span class="bolder">Title : </span>This is the title of the streaming inside your streaming list.
            </p>
            <p>
              <span class="bolder">Caption : </span>The message inside the Facebook Post, that all your users will see. Caption will have credits of our site if user doesn't have our membership.
            </p>
            <p>
              <span class="bolder">Duration : </span>For how long your post will be LIVE.
            </p>
            <p>
              <span class="bolder">Schedule Live : </span>You can also decide if you want to publish a post in a future time/date. <span class="bolder">Make sure to select time zone and time carefully.</span>
            </p>
            <p>
              <span class="bolder">Page : </span>Page on which you want to publish LIVE.
            </p>
            <p>
              <span class="bolder">Images/Videos : </span>Content required to adjust template according to your need.
            </p>
          </div>
        </li>
        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>Can I publish on a page which is not mine?</div>
          <div class="collapsible-body">
            <p>
              Yes. You can publish on a page which is not owned by you but <span class="bolder">you have to be atleast an editor of that page.</span> Basically the rule is simple: Where you can publish on Facebook is where you can publish with Shuriken Live.
            </p>
          </div>
        </li>
        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>Can my Facebook profile be removed from a Page after scheduling a LIVE?</div>
          <div class="collapsible-body">
            <p>
              Sometime happens that you are temporally added as admin of a page to create a content, then removed from that role. If you this you can be in this situation, pay attention to what follows :
            </p>
            <p>
              <i class="material-icons" style="font-size: 10px;">lens</i><span class="icon-descriptor">If you are removed from that role before LIVE starts, the <span class="bolder">LIVE will never start</span> as request to start a LIVE will be declined by Facebook.</span>
            </p>            
            <p>
              <i class="material-icons" style="font-size: 10px;">lens</i><span class="icon-descriptor">If you are removed from the page while LIVE is still active, <span class="bolder">Facebook will stop that LIVE</span> for you. This is due to a security reason.</span>
            </p>
            <p>
              The rule you need to follow is basically the following: if you plan a LIVE, make sure you have the same role inside the page till the LIVE is ended. If you don't do this, the LIVE won't be published or will be stopped by Facebook before it can ends.
            </p>
          </div>
        </li>
        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>Can you track shares of the LIVE?</div>
          <div class="collapsible-body">
            <p>
              We can track what happens only in the <span class="bolder">original posts</span>. All the shares cannot be tracked by us. This for different reasons :
            </p>
            <p>
              <i class="material-icons" style="font-size: 10px;">lens</i><span class="icon-descriptor"><span class="bolder">Facebook API Rate Limits : </span> we cannot make infinite calls to Facebook</span>
            </p>            
            <p>
              <i class="material-icons" style="font-size: 10px;">lens</i><span class="icon-descriptor">We cannot get all <span class="bolder">the shares of a post because of privacy reasons</span> of different groups and pages.</span>
            </p>
            <p>
              <i class="material-icons" style="font-size: 10px;">lens</i><span class="icon-descriptor">Users will see a shared post with "100 likes" and then on the LIVE they will see "2000 likes" that are the likes taken from the original post.<span class="bolder"> This will produce a bad user experience.</span></span>
            </p>
          </div>
        </li>
        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>How long can be a Live Event on Facebook?</div>
          <div class="collapsible-body">
            <p>
              A Facebook Live Event can be as long as you wish: from 1 minute to hundreds of hours. Just remember that, if your LIVE is <span class="bolder">longer than 4 hours</span>, when it ends Facebook won't keep it as a video. If it's less than 4 hours long, it will be saved by Facebook as a Video. We offer LIVEs of maximum 8 hours duration in ultimate package.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div id="swipe-3" class="grey lighten-4 flexbox">
    <div class="container">
      <ul class="collapsible popout" data-collapsible="accordion">
        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>What are Plugins?</div>
          <div class="collapsible-body">
            <p>
              A plugin is a feature that we provide to create LIVEs on social media platforms. Each plugin has specific characteristics, functionality and will create a unique experience for your users.
            </p>
          </div>
        </li>
        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>How can I stop a LIVE?</div>
          <div class="collapsible-body">
            <p>
              Even though you can stop the Streaming directly on Facebook, to avoid wastage of our resources, we strongly recommend you to stop the event through our panel, simply clicking on “END VIDEO” button from your dashboard's 'My Posts' section.  
            </p>
          </div>
        </li>
        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>How can I create a LIVE?</div>
          <div class="collapsible-body">
            <p>
              Once you have selected a plugin and template of your choice, you'll be able to publish in just one step. You just have to give us following details regarding your live post : 
            </p>
            <p>
              <span class="bolder">Title : </span>This is the title of the streaming inside your streaming list.
            </p>
            <p>
              <span class="bolder">Caption : </span>The message inside the Facebook Post, that all your users will see. Caption will have credits of our site if user doesn't have our membership.
            </p>
            <p>
              <span class="bolder">Duration : </span>For how long your post will be LIVE.
            </p>
            <p>
              <span class="bolder">Schedule Live : </span>You can also decide if you want to publish a post in a future time/date. <span class="bolder">Make sure to select time zone and time carefully.</span>
            </p>
            <p>
              <span class="bolder">Page : </span>Page on which you want to publish LIVE.
            </p>
            <p>
              <span class="bolder">Images/Videos : </span>Content required to adjust template according to your need.
            </p>
          </div>
        </li>
        
        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>How can I schedule a LIVE?</div>
          <div class="collapsible-body">
            <p>
              While you're publishing, if you don't want to post your LIVE immediately on Facebook, you can set a Date and Time of when we have to publish on behalf of you. </br>
              Currently we have few restrictions with that. When you decide to schedule, as we have limited number of servers and if all our servers would be busy at your scheduled time, then your post will be published as soon as a server will be available.
            </p>
          </div>
        </li>

        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>Will I have a report for each Live?</div>
          <div class="collapsible-body">
            <p>
              Sure! At the start of the Live Event you’ll get an image that is the start frame of the LIVE. We also give you a direct link of your live which you can use to share your LIVE post.
              </br>
              If your LIVE was shorter than 4 hours, users will still be able to see the Post. If it was longer, Facebook removes the video automatically but still you'll be able to see the first frame of your post.
            </p>
          </div>
        </li>

        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>My LIVE wasn't launched, what should I do?</div>
          <div class="collapsible-body">
            <p>
              If due to some technical reasons, the procedure of <span class="bolder">"Starting" your LIVE</span> Streaming froze, please go to your Dashboard and select the LIVE that froze and end that video as soon as possible and then try to post again from the start.
              </br>
              If you need more information regarding the possible cause of failure, please contact our support center and provide all the relevant details of your LIVE. 
            </p>
          </div>
        </li>

        <li class="white">
          <div class="collapsible-header"><i class="material-icons red-text">warning</i>LIVE Unexpectedly Terminated </div>
          <div class="collapsible-body">
            <p>
              If your live video ends unexpectedly, there can be following possible reasons :
            </p>
            <p>
              <span class="bolder">Use of Copyrighted Content Without Permission : </span>If you use copyrighted images or audio without permission of the owner in your LIVE, then Facebook may end your live from their end because of their legal policices. We strongly discourage use of such content in your LIVEs because this may lead to deactivation of your page/account.
            </p>
            <p>
              <span class="bolder">LIVE unpublished/deleted from page : </span>If other admin/editor of page deletes or unpublishes the post from page or by any means, your post get removed from Facebook, then your video will end unexpectedly.
            </p>
            <p>
              <span class="bolder">Due to Network Issues : </span>In very rare cases, due to weak network strength on server side, network connection with facebook may break causing LIVE to end unexpectedly. You'll get to know about this from the <span class="bolder">status</span> of your post.  We are <span class="bolder">terribly sorry</span>. We suggest you to start again with a new LIVE. 
            </p>
          </div>
        </li>

      </ul>
    </div>
  </div>

  <div id="swipe-4" class="grey lighten-4 flexbox">
    <div class="container">
      <ul class="collapsible popout" data-collapsible="accordion">
        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>Which package should I choose?</div>
          <div class="collapsible-body">
            <p>
              Answer to this question soley depends on the use case and your <span class="bolder">personal choice</span>. Each package offer different limits for various features like live duration, limit on simultaneous live etc. Choose the one which suits best to your requirements.
            </p>
          </div>
        </li>
        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>How to buy premium membership?</div>
          <div class="collapsible-body">
            <p>
              To become a premium member of our site, you must <span class="bolder">purchase one of the packages</span> that we offer. Visit to <a href="/pricing" class="bolder">Pricing page</a> and choose the package of your choice and complete the payment procedure.
            </p>
          </div>
        </li>
        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>How can I pay?</div>
          <div class="collapsible-body">
            <p>
              Currently, we accept payment from <span class="bolder">Debit/Credit Card</span> or if you <span class="bolder">paypal account</span>, you can easily use that and complete your purchase in just 2 steps.
            </p>
            <p>
              If you don't have a paypal account, then on the payment window of paypal, choose <span class="bolder">checkout as guest</span> option and pay directly using your credit/debit card.
            </p>
          </div>
        </li>
        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>How much time will it take after payment to upgrade my account?</div>
          <div class="collapsible-body">
            <p>
              We update your account after your purchase as soon as we get a confirmation fom Paypal of successful transaction. It generally takes <span class="bolder">1-2 minutes after payment</span> to upgrade your account.
            </p>
          </div>
        </li>
        <li class="white">
          <div class="collapsible-header"><i class="material-icons">forum</i>I have completed payment but my account is not yet upgraded?</div>
          <div class="collapsible-body">
            <p>
              If this is the case, then do not panic. Please contact our customer support as soon as possible or <a href="mailto:support@shurikenlive.com" target="_top">send a mail</a> to support@shurikenlive.com. We'll try our best to help you.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
  <script>
    //Hack to show tabs correctly with responsve nature
    $( document ).ready(function(){
        setTimeout(function(){  
          $(".tabs li")[1].children[0].click();
          setTimeout(function(){
            $(".tabs li")[0].children[0].click();
          },250);
        },1);
    });

    var resizeFuntion = function(elements)
    {
      var sumHeight = 0;
      for(var i=0;i<elements.length;i++)
      {
        //console.log(" i = " + i + " height is = " + $(elements[i]).height());
        sumHeight+= $(elements[i]).height();
      }
      $(".carousel").animate({height: Math.max(sumHeight+60,400)},300);
    }
    var resizeCarouselFromAnchor = function(e){
      var elements = $($(this).attr('href') + " li");
      resizeFuntion(elements);
    };

    var resizeCarouselFromHeader = function(e){
      var elements = $(this).parent().parent()[0].getElementsByTagName("li");
      setTimeout(function(){resizeFuntion(elements)},300);
    };

    $(".activate-resize").click(resizeCarouselFromAnchor);
    
    $(".collapsible-header").click(resizeCarouselFromHeader);

  </script>