<center>
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-4726706343331157"
	     data-ad-slot="5921286380"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</center>
<div class="header page-heading grey-text text-darken-2 bolder center">Privacy Policies</div>
<div class="white privacy-box container-wide card hoverable z-depth-4">
	
<p class="policy-para">
	www.shurikenlive.com recognises the importance   of   maintaining   your   privacy.   We   value   your   privacy   and   appreciate   your trust   in   us.   This   Policy   describes   how   we   treat   user   information   we   collect on https://www.shurikenlive.com   and   other offline   sources.   This   Privacy   Policy   applies   to   current   and   former   visitors   to   our   website   and   to   our   online   customers. By visiting and/or using our website, you agree to this Privacy Policy.
</p>
 
<h5>Information we collect</h5>
<ol>
	
	<li>
		<span>Contact information : </span>​ We might collect your​
 		name, email, mobile number, phone number, street, city, state, pincode, 
		country and ip address.
	</li>
	
	<li>
		<span>Payment and billing information : ​</span> We might collect your billing name, billing address and payment method when you buy a ticket. We NEVER collect your credit card number or credit card expiry date or other details pertaining to your credit card on our website. Credit card information will be obtained and processed by our online payment partner. 
	</li>
 
	<li>
		<span>Information you post : ​</span> We collect information you post in a public space on our website or on a third­party social media site belonging to shurikenlive.com . 
	</li>

	<li>
		<span>Demographic information : </span> We may collect demographic information about you, events you like, events you intend to participate in, tickets you buy, or any other information provided by your during the use of our website. We might collect this as a part of a survey also. 
	</li>

	<li>
		<span>Other information : </span> If you use our website, we may collect information about your IP address and the browser you're using. We might look at what site you came from, duration of time spent on our website, pages accessed or what site you visit when you leave us. We might also collect the type of mobile device you are using, or the version of the operating system your computer or device is running.
	</li>

</ol>  



<h5>We collect information in different ways</h5>
<ol>
	
	<li>
		<span>We collect information directly from you : </span>​ We collect information directly from you when you register for an event or buy tickets. We also collect information if you post a comment on our websites or ask us a question through phone or email. 
	</li>
	
	<li>
		<span>We collect information from you passively : </span> ​ We use tracking tools like Google Analytics, Google Webmaster, browser cookies and web beacons for collecting information about your usage of our website
	</li>
 
	<li>
		<span>We get information about you from third parties : </span> ​For example, if you use an integrated social media feature on our websites. The third­party social media site will give us certain information about you. This could include your name, email address and some permissions to manage your page.
	</li>

</ol>  


<h5>Use of your personal information</h5>
<ol>
	
	<li>
		<span>We use information to contact you : </span>​ We might use the information you provide to contact you for confirmation of a purchase on our website or for other promotional purposes. 
	</li>
	
	<li>
		<span>We use information to respond to your requests or questions : </span> We might use your information to confirm your registration for an event or contest. 
	</li>
 
	<li>
		<span>We use information to improve our products and services : </span> We might use your information to customize your experience with us. This could include displaying content based upon your preferences. 
	</li>

	<li>
		<span>We use information to look at site trends and customer interests : </span> We may use your information to make our website and products better. We may combine information we get from you with information about you we get from third parties.
	</li>

	<li>
		<span>We use information for security purposes : </span>  We may use information to protect our company, our customers, or our websites. 
	</li>

	<li>
		<span>We use information for marketing purposes : </span>  We might send you information about special promotions or offers. We might also tell you about new features or products. These might be our own offers or products, or third­party offers or products we think you might find interesting. Or, for example, if you buy tickets from us we'll enroll you in our newsletter.
	</li>

	<li>
		<span>We use information to send you transactional communications : </span>  We might send you emails or SMS about your account or a ticket purchase.
	</li>

	<p>We use information as otherwise permitted by law. </p>

</ol>  

<h5>Sharing of information with third­parties</h5>
<ol>
	
	<li>
		<span>We will share information with third parties who perform services on our behalf : </span>​ We share information with vendors who help us manage our online registration process or payment processors or transactional message processors. Some vendors may be located outside of India.
	</li>
	
	<li>
		<span>We will share information with the event organizers : </span> ​ We share your information with event organizers and other parties responsible for fulfilling the purchase obligation. The event organizers and other parties may use the information we give them as described in their privacy policies.  
	</li>
 
	<li>
		<span>We will share information with our business partners : </span> ​This includes a third party who provide or sponsor an event, or who operates a venue where we hold events. Our partners use the information we give them as described in their privacy policies.
	</li>

	<li>
		<span>We may share information if we think we have to in order to comply with the law or to protect ourselves : </span>​ We will share information to respond to a court order or subpoena. We may also share it if a government agency or investigatory body requests. Or, we might also share information when we are investigating potential fraud.
	</li>
	
	<li>
		<span>We may share information with any successor to all or part of our business : </span> ​ For example, if part of our business is sold we may give our customer list as part of that transaction. 
	</li>
 
	<li>
		<span>We may share your information for reasons not described in this policy : </span> ​We will tell you before we do this.
	</li>

</ol>  

<h5>Email OptOut</h5>
<ol>
	<li>
		<span>You can opt out of receiving our marketing emails : </span> To stop receiving our promotional emails, please email unsubscribe@shurikenlive.com. It may take about ten days to process your request. Even if you opt out of getting marketing messages, we will still be sending you transactional messages through email and SMS about your purchases if any.  
	</li>
</ol>

 
<h5>Third party sites</h5>
<ol>
	<li>
		If you click on one of the links to third party websites, you may be taken to websites we do not control. This policy does not apply to the privacy practices of those websites. Read the privacy policy of other websites carefully. We are not responsible for these third party sites.
	</li> 
</ol> 
 
<h5>Updates to this policy </h5>
<ol>
	<li>
		This Privacy Policy was last updated on 08.03.2017. From time to time we may change our privacy practices. We will notify you of any material changes to this policy as required by law. We will also post an updated copy on our website. Please check our site periodically for updates. 
	</li> 
</ol> 
 
<h5>Jurisdiction</h5>
<ol>
	<li>
		If you choose to visit the website, your visit and any dispute over privacy is subject to this Policy and the website's terms of use. In addition to the foregoing, any disputes arising under this Policy shall be governed by the laws of India.  
	</li> 
</ol>  
 
 
</div>