<h3 class="header grey-text text-darken-2 bolder center">Terms and conditions of service</h3>
<center>
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-4726706343331157"
       data-ad-slot="5921286380"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</center>
<div class="white terms-box card hoverable z-depth-4">
  <ol> 
   <li><strong>Introduction</strong>
    <ol>
      <li>It’s important you carefully read this document as these Terms and conditions of service (“Terms of Use”) constitute a legally binding agreement between our company and the User in relation to the use of the service (“Service”) and completely replace any prior agreements between You and Above in connection with the Service. By using the Service, You agree to these Terms of Use. If the User does not wish to accept these Terms of Use shall refrain from using the website.</li>
      <li>You agree that Above may provide You, with notices, including those regarding changes to the Terms of Use, by email, regular mail, or postings on the Site.</li>
    </ol>
  </li>    
  <li><strong>Description of the Service</strong>
    <ol>
      <li>The service offered by Above doesn't require any fee to be used. It is free to use currently.</li>
      <li>The Site offers the ability to create Live Streaming on Facebook Pages owned by the user, or on Facebook Pages where the user has the rights to publish. These streaming has the characteristics of being dynamic, and the content will vary based on the frame chosen by the user.</li>
      <li>The user is the only person that has the rights to create a streaming, uploading all the necessary files, following the indications in the Part 3 of this contract.</li>
      <li>If the streaming will be interrupted before the end set by the user due to any technical error, the Site will not be responsible for the error.</li>
      <li>The user accepts that Above can use the name of Facebook Page on which LIVE will be on, as well as the Profile image of that Page, inside the Home Page of this website as weel as on the list of Shuriken Live's customers.</li>
    </ol>
  </li>
  <li><strong>Shared Material</strong>
    <ol>
      <li>The Material inside the Live (content and description) must conform to morality and principles of public policy and should not have the following contents:
        <ol>
          <li>nudity, material of a sexually explicit or suggestive material much in terms of sexual;</li>
          <li>offensive or outrageous speech;</li>
          <li>excessive profanity or explicit violence;</li>
          <li>for promoting damaging or dangerous activities;</li>
          <li>for misleading or inaccurate thumbnails, titles or tags;</li>
          <li>defamatory, libelous;</li>
          <li>child pornography;</li>
          <li>blasphemous;</li>
          <li>annoyance  to the public or private peace;</li>
          <li>offense or harm, directly or indirectly, to anyone;</li>
          <li>for encouragement third parties to act in improper conduct and / or criminal liable to criminal or civil liability;</li>
          <li>for violation existing laws, including, without limitation but not limited to, the provisions of Law no. 633 of 1941 (the "Law on Copyright"), those of the Decree. N. 196 of 2003 ("Policy"), those of the Decree. N. 30 of 2005 ("Industrial Property Code"), distinctive signs or other rights of third parties;</li>
        </ol>
      </li>
      <li>If the User who upload the files (images, videos, etc) on the site is not the licensee of the it , but he is the owner, he has to grant limited license rights to Above and other Users of the Service and, in particular:
        <ol>
          <li>a worldwide license , non-exclusive, royalty-free, transferable (with right to sublicense) to use, reproduce, distribute, prepare derivative works of, display and perform such User Submissions in connection with the provision of Shared Services and otherwise in connection with the provision of the service and the commercial activity of Above;</li>
          <li>to each User of the Service, a license for the whole  world, non-exclusive, royalty-free, to access to Shared Material from the Service and to use, reproduce, distribute, prepare derivative works of, display and perform such Content to the extent permitted by the functionality of the Service and under these Terms of Use;</li>
        </ol>
      </li>
      <li>You acknowledge and warrant that you have (and continue to have during the use of the Service) all the necessary licenses, rights, consents, and permissions required to allow Above to use their Material Shared for the purposes of the Service of Above, and otherwise to use the Material Shared as provided in these Terms of Use.</li>
      <li>You acknowledge and agree to be the sole responsible for your Shared Material and for the consequences of their loading or online publication. Above expressly disclaims any and all liability in connection with the Shared Material.</li>
      <li>The violation of video contents will result:
        <ol>
          <li>termination of the contractual relationship with Above;</li>
          <li>suspension or termination of account.</li>
        </ol>
      </li>         
      <li>Before publication, Above reserves the right to approve the Shared Material, verifying compliance with the requirements mentioned in these Terms of Use.</li>
    </ol>
  </li>
  <li><strong>Who can use the Service of the Site</strong>
    <ol>
      <li>Use of the Service requires registration with the Site that occurs through a Facebook account only.</li>
      <li>Registration is free and is completely voluntary, Above does not impose any obligation to use the Service.</li>
      <li>At the first registration, user will be asked to grant some permissions to Above in order to use services.</li>
      <li>To be suitable  to use the Service, you must have full legal capacity to enter into a contract and to be  at least eighteen.</li>
    </ol>
  </li>
  <li><strong>Availability of Service</strong>
    <ol>
      <li>Above constantly commits itself  to modify and improve the Service, however, it does not guarantee full and constant features of the Service, or give or warrant of another kind, express or implied, and makes no promise of quality or good operation nor fitness for a particular purpose or a result of the Service.</li>
      <li>Above may suspend and/or terminate the Service in case of congestion and/or overload of the system, as well as to ensure the ordinary and extraordinary maintenance,  without assuming any responsibility.</li>
      <li>Above is also not responsible for delays, malfunction, suspension and/or interruption in the Service caused by: force majeure or unforeseeable circumstances; tampering or illegal interventions by third parties on services or equipment used from Above; tampering or interventions on wireless devices, which fall in the availability of Members, made by them or by unauthorized third parties; Wrong use of the Service by Users; malfunctioning /  configuration of wireless devices used by Users.</li>
    </ol>
  </li>
  <li><strong>Prohibited Uses</strong>
    <ol>
      <li>You may not, directly or indirectly:
        <ol>
          <li>act in any way to violates these Terms;</li>
          <li>distribute software that contain viruses;</li>
          <li>create a new account after Above solved, terminated, modified, deleted the old account as a result of a breach of the same;</li>
          <li>to engage in any practice or activity that, in the opinion of Above, reflects in a negative way on Above,  or demean or diminish the reputation or goodwill of Above.</li>
        </ol>
      </li><li>The violation of this clause will entitle Above to take  appropriate legal action for User’s damages.</li>

    </ol>
  </li>
  <li><strong>Account Features</strong>
    <ol>
      <li>The account is personal and unique, it cannot be sold or leased out to third parties.</li>
      <li>The possible  use of account by third party, in any capacity, involves the use by You of the responsibility also for possible withdrawals.</li>       
      <li>Above is held harmless from any liability for any damage caused to the User and/or any third party due to the use of the account by any third party, as well as due to the fraudulent use of the same by the User.</li>
    </ol>
  </li>
  <li><strong>Warranties and Liability</strong>
    <ol>
      <li>Users have to  note that Above is not required to control the Material Uploaded unless this is necessary to comply with a provision of law, a court order or other Competent Authority.</li>
      <li>Above will not operate any preventive control on Material Uploaded, not being subject to any general obligation to monitor, and, therefore, cannot be in any way liable for such contents or for errors and/or omissions in the same, nor for direct or indirect damages to users and/or third parties from the use or inability to use the Service.</li>
      <li>Users will be the sole  responsible for the Uploaded Material entered in the Site.</li>
      <li>No advice and/or no data, whether oral or written, obtained from Above or through the Website, the Service or content collective, will create any warranty not expressly granted in these Terms of Use.</li>
      <li>Users, in the light of the provisions above, agree to indemnify substantially and procedurally, indemnify and hold harmless, however, on first demand and without exception, Above in relation to any injury, damage, loss, liabilities, costs, charges or expenses including any legal fees and in relation to any claim and/or demand and/or action (whether of compensatory damages and/or compensation) that can be advanced, against Above, at any site, in relation to the statements and the guarantees given by the acceptance of these Terms, access to the Site and the publication and dissemination of Uploaded Material by Users or on request of the same or, in any case, use of the Service.</li>
    </ol>
  </li>
  <li><strong>Limitations of Liability</strong>
    <ol>
      <li>No dispositions contained in these Terms of Use shall exclude or limit the liability of Above in the case of willful misconduct or gross negligence on the part of Above and for losses which may not be lawfully excluded or limited under applicable law.</li>
      <li>Except as provided in the preceding, Above will not be liable to You for:
        <ol>
          <li>The losses which the User may suffer, including any loss of profit, directly and indirectly, any loss of goodwill or business reputation, or any loss of data suffered by you;</li>
          <li>losses or damages that the User may suffer:
            <ol>
              <li>for the deletion of, corruption of, or failure to store, Uploaded Material and other communications data maintained or transmitted by or through the use of the Service;</li>
              <li>for failure to provide the User Above to accurate information on the account;</li>
              <li>for the failure of the User to keep your password or account details secret and confidential;</li>
            </ol>
          </li>
        </ol>
      </li>
      <li>The limitations on liability to the Above’s User mentioned in the previous article shall apply both in case Above was aware or should have been aware of the possibility of such a loss is otherwise.</li>
    </ol>
  </li> 
  <li><strong>Termination</strong>
    <ol>
      <li>You may terminate the contractual relationship with Above in the following ways:
        <ol>
          <li>communicating that to Above at any time with notice that must be sent in writing to the address indicated at the beginning of Above of these Terms;</li>
          <li>closing the account;</li>
          <li>removing the privileges of your Facebook account;</li>
        </ol>

      </li><li>Above may withdraw from the contract with the user at any time and without notice if:</li>
      <ol>
        <li>You have violated any of the provisions of these Terms;</li>
        <li>the User has acted in such a way that clearly indicates its unwillingness to comply with the provisions contained in these Terms;</li>
        <li>because it is required by law;</li>
        <li>no longer willing to provide the Service to Users;</li>
        <li>the provision of the service towards the user is not for Above the most advantageous from the commercial point of view.
        </li>
      </ol>

      <li>In the event of termination of the relationship between the Parties, the unused credits inside the account won’t be refund.</li>

    </ol>
  </li>   
  <li><strong>Privacy</strong>
    <ol>
      <li>See the Privacy Policy at <a href="/privacy">https://new.shurikenlive.com/privacy</a> and for information and for notifications relating to the acquisition and use by Above User’s personal details.</li>
    </ol>
  </li>   
  <li><strong>Governing Law and Jurisdiction</strong>
    <ol>
      <li>If you choose to visit the website, your visit and any dispute over privacy is subject to this Policy and the website's terms of use. In addition to the foregoing, any disputes arising under this Policy shall be governed by the laws of India.</li>
    </ol>
  </li>

  <li><strong>Miscellaneous</strong>
    <ol>
      <li>The failure or delay in exercising a right or remedy provided by these Terms shall not constitute a waiver of such right or remedy or a waiver of any other right or remedy, and the single or partial exercise of any right or remedy under these terms of use will not prevent the future exercise of that right or remedy, or the exercise of any other right or remedy.</li>
      <li>The rights and remedies contained in these terms of use are cumulative and do not exclude the exercise of any other rights or remedies provided by law.</li>
      <li>The invalidity or illegality of any provision of these Terms will not affect the validity and enforceability of the remainder of these Terms.</li>
      <li>Any provisions of these terms of use shall not be construed as to be a dependency of any kind between the Parties, and none of them will have the authority or power to bind the other or to contract in the name of or to establish any liability to the other party, in any way and for any purpose.</li>
      <li>Any provisions of these terms shall not create or confer any rights or other benefits in favour of third parties.</li>
    </ol>
  </li>
  </ol>
</div>