<html>
  <head>
    <title>Loop Video Template 1</title>
  </head>

  <body>
    <% link = post.get_file_url %>
    <div class="container">
      <canvas id="canvas" height="720" width="1280"></canvas>
    </div>
    <video id="my-video" class="video-js" loop preload="auto" autoplay width="1280" height="720" data-setup="{}">
      <source src="<%=link%>" type="video/mp4">
      <source src="<%=link%>" type="video/ogg">
      <source src="<%=link%>" type="video/webm">
    </video>

  </body>

    <script>
        function updateVideo(){
            var canvas = document.getElementById('canvas');
            var ctx = canvas.getContext( '2d' );
            var myVideo = document.getElementById('my-video');
            ctx.drawImage( myVideo, 0, 0, 1280, 720 );
        }
        setInterval ( updateVideo, 24 );
    </script>

  <style>
    *{
      padding: 0;
      margin: 0;
      cursor: none;
    }
    body
    {
      height: 720px;
      width: 1280px;
      position: relative;
    }
    #my-video
    {
      display: none;
      overflow: hidden;
    }
    #canvas
    {
      position: absolute;
    }
    .container
    {
      height: 720px;
      width: 1280px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: black;
    }
  </style>
</html>